.product-content {
    min-height: calc(100vh - 7rem - 10rem);
    margin-top: 7rem;
    margin-bottom: 10rem;
}
.btn-milk-white {
    background-color: var(--theme-color-milk-white);
    color: var(--theme-color-charcoal-gray);
    transition: all 0.3s ease-in-out;
}
.btn-milk-white:hover{
    background-color: none;
    border: 1px solid var(--theme-color-milk-white);
    color: var(--theme-color-milk-white);
}

.table-milk-white {
    background-color: var(--theme-color-milk-white);
    color: var(--theme-color-charcoal-gray);
}

#editProduct,
#deleteProduct,
#retrieveProduct,
#confirmDeleteProduct {
    cursor: pointer;
}

@media print {
    body * {
      visibility: hidden;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    .print-only,
    .print-only * {
      visibility: visible;
    }

    .print-only {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 15px;
    }

    .print-only .table {
      margin-bottom: 0 !important;
    }

    .print-only .table th,
    .print-only .table td {
      word-wrap: break-word;
    }
  }
  