#loginForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #C1D8C8; */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-custom-white {
  background-color: #F5F5DC;
}

.btn-custom-primary {
  background-color: #E3B04B;
  color: #F9F4EF;
}

.btn-custom-primary:hover {
  background-color: none;
  border: 2px solid #D9A23A;
  color: #E3B04B;
}

.fas.fa-arrow-right {
  transform: translateY(2px);
}
.heading-title {
  color: var(--theme-color-charcoal-gray);
}