:root {
    --theme-color-dark-brown: #5C4033;
    --theme-color-charcoal-gray: #333333;
    --theme-color-earthy-brown: #8B5E3B;
    --theme-color-forest-green: #4A7C59;
    --theme-color-sky-blue: #6BAED6;
    --theme-color-golden-wheat: #E3B04B;
    --theme-color-milk-white: #FAF3E0;
    --theme-color-dark-green: #2F4F4F;
    --font-family: "Josefin Sans", sans-serif;
}
body {
    background-color: var(--theme-color-dark-green);
}
.bg-dark-brown {
    background-color: var(--theme-color-dark-brown);
}
.bg-charcoal-gray {
    background-color: var(--theme-color-charcoal-gray);
}
.bg-earthy-brown {
    background-color: var(--theme-color-earthy-brown);
}
.bg-forest-green {
    background-color: var(--theme-color-forest-green);
}
.bg-sky-blue {
    background-color: var(--theme-color-sky-blue);
}
.bg-milk-white {
    background-color: var(--theme-color-milk-white);
}
.bg-dark-green {
    background-color: var(--theme-color-dark-green);
}
footer {
    background-color: var(--theme-color-milk-white);
    color: var(--theme-color-charcoal-gray);
    text-align: center;
    padding: 1rem 0;
}

.bg-golden-wheat {
    background-color: var(--theme-color-golden-wheat);
    color: var(--theme-color-dark);
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.bg-golden-wheat:hover {
    background-color: var(--theme-color-milk-white);
    color: var(--theme-color-golden-wheat);
    border: 2px solid var(--theme-color-golden-wheat);
    transform: scale(1.03);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
