.product-content {
    margin-top: 7rem;
}
.btn-milk-white {
    background-color: var(--theme-color-milk-white);
    color: var(--theme-color-charcoal-gray);
    transition: all 0.3s ease-in-out;
}
.btn-milk-white:hover{
    background-color: none;
    border: 1px solid var(--theme-color-milk-white);
    color: var(--theme-color-milk-white);
}

.table-milk-white {
    background-color: var(--theme-color-milk-white);
    color: var(--theme-color-charcoal-gray);
}

#editProduct, #deleteProduct {
    cursor: pointer;
}